@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root {
    --bg: #1a1e24;
    --color: #eee;
    --color-2:#18505C;
    --font: 'Roboto', sans-serif;
    --main-color:#1791D6;
}
*{
    margin:0;
    padding:0;
    font-family:var(--font); 
}
/* commons */
ul{
    list-style-type: none;
    margin-top: 10px;
}
li{
    text-decoration: none;
    margin:5px;
}
span{
    text-decoration: none;
    color:var(--main-color);
    padding:10px;
}
span:hover{
    cursor: pointer;
}

h3{
    margin-bottom:10px;
}
.app{
    width:auto;
    height: auto;
}
/* nav bar */

.aastu{
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.aastu-logo{
margin-left:70px;
margin-bottom:5px;
}
.nav-bar{
    display: flex;
    justify-content:space-between;
    background-color: var(--main-color);
    height: 80px;
    width:auto;
    padding:20px;
}
.aastu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:70px;
    
}
.aastu-logo{
    border:0px;
}
.icon-button-container{
    display: flex;
    justify-content: space-between;
    width: 15em;
}

/* search-bar */

.search-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.submit-search{
    color:black;
    position: relative;
    right:40px;
    top:3px;
}
.search-bar{
    border: 0px;
    outline: none;
    padding: 8px;
    border-radius: 15px;
}
.search-bar:focus{
    outline: none;
    background-color: antiquewhite;
}

.home{
    display: flex;
    flex-direction: row;
    
    padding: 3em;
    
}
.submit-research-button{
    font-size:20px;
    width:50px;
    padding:3px;
    border-radius: 40px;
    border-width: 0px;
    margin-bottom:20px;
    background-color:var(--color-2);
    color:white;

    position: relative;
    right:45px;
    
}
.submit-research-button:hover{
    background-color:black;
    transition: 0.9s;
    cursor: pointer;
}
/* compResearch */
.compResearch-container{
    margin-left:15em;
}
/* pagination */
.pagination{
    text-align: center;
    margin-top:30px;
}
.paginationBttns {
    width: 90%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
    transition-duration: 0.6s;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  

.compResearch-container-title{

    
}
.completed-research-projects{
    font-size: 25px;
    margin-bottom:10px;
}
#research-list{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.16em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#research-list thead tr {
    background-color: #eee;
    color: var(--color-2);
    text-align: left;
}
#research-list th,
#research-list td {
    padding: 12px 15px;
}
/* filterResearch */
.filter-research-container{
    text-align: left;
    margin-left:40px;
}

.year-sort a{
    text-decoration: none;
    color: black;
}

.sort-year{
    width:4em;
}
.search-sort{
    margin-top:20px;
}
.college-sort-container{
    margin-top:50px;
    text-align: left;
}
#college-sort{
   text-align: left;
}
#college-sort li{
    margin:10px;
    margin-left:0px;
}
#college-sort span{
    padding-left: 0px;
}
#date-sort li{
    padding:7px;
}
.college-sort-container{
    margin-top:30px;
}
.custom-sort-title{
    margin-bottom:10px;
}
/* ------------- */
/* submit component */
.container{
    display: flex;
    flex-direction: column; 
    max-width:30%;
    margin:auto;
    padding: 50px;
}
form{
    display: flex;
    flex-direction: column;
    
}
.container form  h1{
    padding-left: 0px;
    margin-bottom: 20px;
    color:var(--main-color);
}
.container .form-row{
    margin:10px;
}

.container .form-row input{
    
    width:300px;
    margin-top:10px;
    padding:5px;
    border-radius: 8px;
    border-color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(241, 235, 235, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    outline-width:none;
}


.container .form-row input:hover{
    color:crimson;
}
.container .form-row .error{
    color:crimson;
}
form button{
    width:300px;
    padding:10px;
    margin-top:10px;
    margin-left:8px;
}
.file-upload{
    color:var(--main-color);
}
